{% extends 'base.html.twig' %}

{% block title %}BrewMashingGrain{% endblock %}

{% block body %}
    <h1>BrewMashingGrain</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ brew_mashing_grain.id }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ brew_mashing_grain.weight }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_brew_mashing_grain_index') }}">back to list</a>

    <a href="{{ path('app_brew_mashing_grain_edit', {'id': brew_mashing_grain.id}) }}">edit</a>

    {{ include('brew_mashing_grain/_delete_form.html.twig') }}
{% endblock %}
