{% extends 'base.html.twig' %}

{% block title %}BrewBottling{% endblock %}

{% block body %}
    <h1>BrewBottling</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ brew_bottling.id }}</td>
            </tr>
            <tr>
                <th>Sugar</th>
                <td>{{ brew_bottling.sugar }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ brew_bottling.details }}</td>
            </tr>
            <tr>
                <th>Final_volume</th>
                <td>{{ brew_bottling.finalVolume }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_brew_bottling_index') }}">back to list</a>

    <a href="{{ path('app_brew_bottling_edit', {'id': brew_bottling.id}) }}">edit</a>

    {{ include('brew_bottling/_delete_form.html.twig') }}
{% endblock %}
