{% extends 'base.html.twig' %}

{% block title %}Grain index{% endblock %}

{% block body %}
    <h1>Grain index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Ebc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grain in grains %}
            <tr>
                <td>{{ grain.id }}</td>
                <td>{{ grain.name }}</td>
                <td>{{ grain.brand }}</td>
                <td>{{ grain.ebc }}</td>
                <td>
                    <a href="{{ path('app_grain_show', {'id': grain.id}) }}">show</a>
                    <a href="{{ path('app_grain_edit', {'id': grain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_grain_new') }}">Create new</a>
{% endblock %}
