{% extends 'base.html.twig' %}

{% block title %}BrewFermentation index{% endblock %}

{% block body %}
    <h1>BrewFermentation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brew_fermentation in brew_fermentations %}
            <tr>
                <td>{{ brew_fermentation.id }}</td>
                <td>{{ brew_fermentation.duration }}</td>
                <td>
                    <a href="{{ path('app_brew_fermentation_show', {'id': brew_fermentation.id}) }}">show</a>
                    <a href="{{ path('app_brew_fermentation_edit', {'id': brew_fermentation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_brew_fermentation_new') }}">Create new</a>
{% endblock %}
