{% extends 'base.html.twig' %}

{% block title %}BrewHopping{% endblock %}

{% block body %}
    <h1>BrewHopping</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ brew_hopping.id }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ brew_hopping.weight }}</td>
            </tr>
            <tr>
                <th>Add_at</th>
                <td>{{ brew_hopping.addAt }}</td>
            </tr>
            <tr>
                <th>Sort</th>
                <td>{{ brew_hopping.sort }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_brew_hopping_index') }}">back to list</a>

    <a href="{{ path('app_brew_hopping_edit', {'id': brew_hopping.id}) }}">edit</a>

    {{ include('brew_hopping/_delete_form.html.twig') }}
{% endblock %}
