{% extends 'base.html.twig' %}

{% block title %}My brews{% endblock %}

{% block body %}
<table class="table">
    <thead>
    <tr>
        <td>Name</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
{% for brew in brews %}
    <tr>
        <td>
            <a href="{{ url('app_brew_show', {id: brew.id}) }}">Brew {{brew.name}}</a>
        </td>
        <td>
            <div class="d-flex">
                <a href="{{ url('app_brew_edit', {id: brew.id}) }}" class="btn btn-primary">Edit</a>
                <form action="{{ url('app_brew_delete', {id: brew.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </td>
    </tr>
{% endfor %}
    </tbody>
    <tfoot>
    <tr><td>
            <a href="{{ url('app_brew_create') }}" class="btn btn-primary">New brew</a>
        </td></tr>
    </tfoot>
</table>

{% endblock %}
