{% extends 'base.html.twig' %}

{% block title %}Brew index{% endblock %}

{% block body %}
    <h1>Brew index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Type</th>
                <th>Target_volume</th>
                <th>Alcool</th>
                <th>Density_initial</th>
                <th>Density_final</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brew in brews %}
            <tr>
                <td>{{ brew.id }}</td>
                <td>{{ brew.name }}</td>
                <td>{{ brew.createdAt ? brew.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ brew.updatedAt ? brew.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ brew.type }}</td>
                <td>{{ brew.targetVolume }}</td>
                <td>{{ brew.alcool }}</td>
                <td>{{ brew.densityInitial }}</td>
                <td>{{ brew.densityFinal }}</td>
                <td>
                    <a href="{{ path('app_brew_show', {'id': brew.id}) }}">show</a>
                    <a href="{{ path('app_brew_edit', {'id': brew.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_brew_new') }}">Create new</a>
{% endblock %}
