{% extends 'base.html.twig' %}

{% block title %}Hop index{% endblock %}

{% block body %}
    <h1>Hop index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Acid_alpha</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hop in hops %}
            <tr>
                <td>{{ hop.id }}</td>
                <td>{{ hop.name }}</td>
                <td>{{ hop.acidAlpha }}</td>
                <td>
                    <a href="{{ path('app_hop_show', {'id': hop.id}) }}">show</a>
                    <a href="{{ path('app_hop_edit', {'id': hop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hop_new') }}">Create new</a>
{% endblock %}
