{% extends 'base.html.twig' %}

{% block title %}YeastStock{% endblock %}

{% block body %}
    <h1>YeastStock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ yeast_stock.id }}</td>
            </tr>
            <tr>
                <th>Use_by_date</th>
                <td>{{ yeast_stock.useByDate ? yeast_stock.useByDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ yeast_stock.weight }}</td>
            </tr>
            <tr>
                <th>Remaining_weight</th>
                <td>{{ yeast_stock.remainingWeight }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_yeast_stock_index') }}">back to list</a>

    <a href="{{ path('app_yeast_stock_edit', {'id': yeast_stock.id}) }}">edit</a>

    {{ include('yeast_stock/_delete_form.html.twig') }}
{% endblock %}
